
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('./404Front/style.css') }}">
{% endblock %}
{% block body %}
    <div class="box">
        <div>
            close !
        </div>
        <p ><span style="margin-left: -30px;">ACCOUNT DESACTIVATED!</span> sorry your account is desactivated , for more informations contact the admin </p>
    </div>
{% endblock %}
